# 1. Gatilho (Requisito 7-II: disparar na branch main)
trigger:
- main

# 2. Variáveis
variables:
# 3. Importa o grupo de variáveis secretas (Requisito 7-IV)
- group: sprint4-creds

# Variáveis normais do pipeline
- name: javaVersion
  value: '17'
- name: mavenPOMFile
  value: 'pom.xml'
- name: resourceGroupName
  value: 'rg-challenge'
- name: webAppName
  value: 'nomeunicowebapp'
- name: dockerRegistryServiceConnection
  value: 'AzureContainerRegistryConnection'
- name: acrName
  value: 'devopsfepile'
- name: imageRepository
  value: 'motos-control-api'
- name: dockerfilePath
  value: '$(Build.SourcesDirectory)/Dockerfile'
- name: tag
  value: '$(Build.BuildId)'

pool:
  vmImage: 'ubuntu-latest'

# 4. Estágios (CI e CD)
stages:
- stage: Build_CI # Estágio de CI
  displayName: 'CI: Build, Test & Push Image'
  jobs:
  - job: BuildAndTest
    displayName: 'Build, Test, Publish Artifacts & Push Docker Image'
    steps:
    
    # Etapa de Testes (Requisito 7-VI)
    - task: Maven@3
      displayName: 'Run Maven Tests'
      inputs:
        mavenPOMFile: $(mavenPOMFile)
        javaHomeOption: 'JDKVersion'
        jdkVersionOption: $(javaVersion)
        jdkArchitectureOption: 'x64'
        goals: 'test'
        options: '-Dspring.datasource.url=$(SPRING_DATASOURCE_URL) -Dspring.datasource.username=$(SPRING_DATASOURCE_USERNAME) -Dspring.datasource.password=$(SPRING_DATASOURCE_PASSWORD)'
        publishJUnitResults: true
        testResultsFiles: '**/surefire-reports/TEST-*.xml'
      env:
        SPRING_DATASOURCE_URL: $(SPRING_DATASOURCE_URL)
        SPRING_DATASOURCE_USERNAME: $(SPRING_DATASOURCE_USERNAME)
        SPRING_DATASOURCE_PASSWORD: $(SPRING_DATASOURCE_PASSWORD)

    # Etapa de Build e Push do Docker (Requisito 7-VII)
    - task: Docker@2
      displayName: 'Build and push Docker image to ACR'
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
          latest
    
    # Etapa de Publicação do Artefato (Requisito 7-V)
    - task: CopyFiles@2
      displayName: 'Copy JAR to Artifact Staging'
      inputs:
        SourceFolder: '$(Build.SourcesDirectory)/target'
        Contents: '*.jar'
        TargetFolder: '$(Build.ArtifactStagingDirectory)'
    
    - task: PublishBuildArtifacts@1
      displayName: 'Publish JAR Artifact'
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)'
        ArtifactName: 'jar-artifact'
        publishLocation: 'Container'

- stage: Deploy_CD # Estágio de CD
  displayName: 'CD: Deploy to Azure Web App'
  dependsOn: Build_CI
  condition: succeeded() # (Requisito 7-III: disparar após artefato)
  jobs:
  - job: Deploy
    displayName: 'Deploy to Web App'
    steps:
    - task: AzureWebApp@1
      displayName: 'Deploy App to Azure Web App for Containers'
      inputs:
        azureSubscription: 'devops' # VERIFIQUE SE O NOME É ESSE MESMO
        appName: $(webAppName)
        resourceGroupName: $(resourceGroupName)
        appType: 'webAppContainer'
        imageName: '$(acrName).azurecr.io/$(imageRepository):$(tag)'
        appSettings: |
          -SPRING_DATASOURCE_URL "$(SPRING_DATASOURCE_URL)"
          -SPRING_DATASOURCE_USERNAME "$(SPRING_DATASOURCE_USERNAME)"
          -SPRING_DATASOURCE_PASSWORD "$(SPRING_DATASOURCE_PASSWORD)"
          -WEBSITES_PORT 8080